.liigid-tekst,
.roll {
    max-width: 1200px;
    margin: auto;
    padding: 0 50px;
}
.kiirvõrdlus-pilt {
    height: 30vw;
    max-height: 330px;          
    object-fit: cover;      
    width: 100%;            
    border-radius: 20px;    
}