.alamliigid {
	  max-width: 1200px;
    margin: auto;
    padding: 30px 50px;
}

.alamliigid h2 {
  text-align: center;
	color: #0b3d2e;
	font-weight: bold;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
	font-size: 40px;
	margin: 0;
	padding-left: 55px;
}

.roll {
    max-width: 1200px;
    margin: auto;
    padding: 50px 50px;
		background-color: #fafaf1;
}
.kiirvõrdlus-pilt {
    height: 30vw;
    max-height: 330px;          
    object-fit: cover;      
    width: 100%;            
    border-radius: 20px;    
}

.intro {
    display: flex;
    justify-content: center;
		margin: 40px;
		gap: 65px;
		padding-top: 30px;
		background-color: #FAFAF1;
		border-bottom: 1px solid #E0E5D8; 
		padding-bottom: 100px;
}

.intro img {
	height: 430px;
	width: auto;
	border-radius: 10px;
	margin-right: 100px;
}

.ladina {
	color: #0b3d2e;
	letter-spacing: 0.1em;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0 0 8px 0;
	font-size: 16px;
	background-color: #C7E6C1;
	border-radius: 16px;
	display: inline-block;
	padding: 10px;
}

.intro h2 {
	color: #0b3d2e;
	font-weight: bold;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
	font-size: 40px;
	margin-bottom: 14px;
}

.intro p:not(.ladina) {
	color: #0b3d2e;
	letter-spacing: 0.1em;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0 0 8px 0;
	font-size: 25px;
	max-width: 40ch;
}

.intro-sisu {
	margin-left: 100px;
}

.kiirvõrdlus {
	line-height: 1.4;
}

.füüsilised-omadused {
	background-color: #F0F3EC;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 50px;
}

.füüsilised-omadused h2 {
	background-color: #F0F3EC;
	max-width: 1200px;
  margin: auto;
  padding: 30px 50px;
	color: #0b3d2e;
	font-weight: bold;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
	font-size: 40px;
	margin-bottom: 14px;
}

.roll-kaart img {
	height: 40px;
	width: 40px;
	padding-bottom: 10px;
}

.roll-kaart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 200px;
}

.roll-kaart {
	width: 200px;
}

.kaart {
	background-color: #E7F0E2;
	padding: 20px 30px;
	margin: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-radius: 15px;
	max-width: 300px;
}

.kaart p {
	color: #0b3d2e;
	letter-spacing: 0.1em;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0 0 8px 0;
	text-align: left;
	width: 300px;
}

.roll h2 {
	font-size: 30px;
}

.ohud {
	background-color: #0b3d2e;
	padding-top: 30px;
}

.ohud h2 {
	max-width: 1200px;
  margin: auto;
  padding: 30px 50px;
	color: white;
	font-weight: bold;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
	font-size: 40px;
	margin-bottom: 14px;
	text-align: center;
}

.tekst-pilt {
	display: flex;
	padding: 25px;
	gap: 100px;
	padding-left: 100px;
	padding-bottom: 50px;
	align-items: center;
}

.ohud img {
	height: 450px;
	border-radius: 15px;
}

.tekst-pilt ul{
	color: white;
	letter-spacing: 0.1em;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0 0 8px 0;
	text-align: left;
}

.põhilised-ohud {
	background-color: #245143;
	border-radius: 25px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.põhilised-ohud h3 {
	color: white;
	letter-spacing: 0.1em;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0 0 8px 0;
	text-align: left;
	font-weight: bold;
	font-size: 25px;
}

.põhilised-ohud ul {
	padding-left: 1.2em;
	margin-left: 0;
	line-height: 1.4;
	font-size: 20px;
}

.kaardid {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.edasi a {
	color: white;
	background-color: #0B3D2E;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 14px;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: opacity 0.2s ease;
	width: 259px;
	height: auto;
	margin-top: 10px;
	border-radius: 15px;
}

.edasi a:hover {
	opacity: 75%;
}

.edasi {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
}

.edasi p {
	color: #0b3d2e;
	letter-spacing: 0.1em;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0 0 8px 0;
	text-align: left;
	width: 700px;
	text-align: center;
	padding: 20px 20px;
}

.edasi h2 {
	color: #0b3d2e;
	font-weight: bold;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
	font-size: 35px;
	margin-bottom: 4px;
}