footer {
  background-color: #0B3D2E;
	padding: 20px 40px;
	gap: 20px;
}

.footer-h1 {
  color: white;
	margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-weight: 750;
	font-size: 1.7rem;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}

.f-logo {
	height: 55px;
	width: auto;
}