
.hero {
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.189), rgba(240, 212, 178, 0.205)),
  url("img/hero-pilt.png");
	min-height: 400px;
	background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
	padding: 0px 100px;
}

.hero-sisu h2{
	color: #0B3D2E;
	font-size: 60px;
  letter-spacing: 0.1em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 750;
	background-color: #E7F0E29f;
	padding: 10px;
	display: inline-block;
	border-radius: 20px;
}

.hero-sisu p {
	color: #0B3D2E;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	letter-spacing: 0.1em;
	font-size: 20px;
	background-color: #E7F0E29f;
	padding: 7px 12px;
	display: inline-block;
	border-radius: 20px;
}

.liigid-tekst {
	background-color: #fafaf1;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.liigid-tekst h2 {
	color: #0b3d2e;
	font-weight: bold;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
	font-size: 40px;
	margin-bottom: 4px;
}

.liigid-tekst p {
	color: #0b3d2e;
	letter-spacing: 0.1em;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding-bottom: 15px;
}

.kiirvõrdlus {
	background-color: #fafaf1;
	display: flex;
	justify-content: center;
	gap: 40px;
	flex-wrap: wrap;
	padding-bottom: 100px;
}

.kiirvõrdlus-kaart h2{
	color: #0b3d2e;
	font-weight: bold;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
	font-size: 25px;
}

.kiirvõrdlus-pilt {
	height: 350px;
	width: auto;
	border-radius: 20px;
	width: 100%;
	height: auto;
	display: block;
}

.kiirvõrdlus-kaart {
	padding: 30px 30px;
	background-color: #E7F0E2;
	margin: 30px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: left;
	border-radius: 20px;
	width: 100%;
	max-width: 500px;
  box-sizing: border-box; 
}

.kiirvõrdlus-kaart p {
	color: #0b3d2e;
	letter-spacing: 0.1em;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0 0 8px 0;
}

.kiirvõrdlus-asukoht-logo {
	height: 33px;
	width: auto;
	padding-right: 10px;
}

.kiirvõrdlus-populatsioon-logo {
	height: 36px;
	width: auto;
	padding-right: 13px;
}

.kiirvõrdlus-ohustatud-logo {
	height: 33px;
	width: auto;
	padding-right: 13px;
}

.kiirvõrdlus-kaart a {
  color: white;
	background-color: #0B3D2E;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 14px;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: opacity 0.2s ease;
	width: 135px;
	height: auto;
	margin-top: 24px;
	border-radius: 25px;
}

.kiirvõrdlus-kaart a:hover {
  opacity: 75%;
}

.asukoht-populatsioon-ohustatud {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 20px;
  row-gap: 8px;
  align-items: center;
  justify-items: start;
  width: 100%;
  margin-top: 10px;
}

.asukoht-populatsioon-ohustatud .kiirvõrdlus-asukoht,
.asukoht-populatsioon-ohustatud .kiirvõrdlus-populatsioon,
.asukoht-populatsioon-ohustatud .kiirvõrdlus-ohustatud {
  display: contents;
}

.asukoht-populatsioon-ohustatud img {
  justify-self: center;
}

.roll {
	background-color: #E7F0E2;
	display: flex;
	justify-content: center;
	gap: 40px;
	flex-wrap: wrap;
	padding: 45px 0px;
}

.roll-kaart {
	background-color: #fafaf1;
	padding: 10px 30px;
	margin: 30px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: left;
	border-radius: 20px;
	width: 100%;
	max-width: 300px;
  box-sizing: border-box; 
}

.roll-kaart p {
	color: #0b3d2e;
	letter-spacing: 0.1em;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0 0 8px 0;
}

.roll-intro p{
	color: #0b3d2e;
	letter-spacing: 0.1em;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0 0 8px 0;
	font-size: 20px;
}

.roll h2 {
	color: #0b3d2e;
	font-weight: bold;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
	font-size: 25px;
}

.roll h3 {
	color: #0b3d2e;
	font-weight: bold;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
	font-size: 19px;
}

.rollid {
	display: flex;
	justify-content: center;
}

.roll-intro {
	text-align: center;
}
