.hero {
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.189), rgba(240, 212, 178, 0.205)),
  url("img/hero-pilt.png");
	min-height: 350px;
	background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
	padding: 0px 100px;
}

.hero-sisu h2{
	color: #ffffff;
	font-size: 60px;
  letter-spacing: 0.1em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 750;
	background-color: #0b3d2e9f;
	padding: 10px;
	display: inline-block;
	border-radius: 20px;
}

.hero-sisu p {
	color: white;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	letter-spacing: 0.1em;
	font-size: 20px;
	background-color: #0b3d2e9f;
	padding: 7px 12px;
	display: inline-block;
	border-radius: 20px;
}

.liigid-tekst {
	background-color: #ecf3eb;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.liigid-tekst h2 {
	color: #0b3d2e;
	letter-spacing: 0.1em;
	font-weight: bold;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
	font-size: 40px;
	margin-bottom: 4px;
}

.liigid-tekst p {
	color: #0b3d2e;
	letter-spacing: 0.1em;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding-bottom: 15px;
}


