body {
  background-color: #F5F5F0;
  margin: 0;
}

header {
  background-color: #ecf3eb;
  border-bottom: 1px solid #0b3d2e1a;
	display: flex;
	align-items: center;
  justify-content: space-between;
	padding: 20px 40px;
	gap: 20px;
  position: sticky;
  top: 0;
  z-index: 1000; 
}

h1 {
  color: #0B3D2E;
	margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-weight: 750;
}

.logo {
  height: 100px;
  width: auto;
}

.logo-pealkiri {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  color: #0B3D2E;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 14px;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link:hover {
  opacity: 75%;
  font-size: 1.13rem;
}