


.header {
    diplay: flex;
    background-color: rgb(255, 123, 0);
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.main {
    display: flex;
    background-color: rgba(219, 219, 219, 0.548);
}

.pilt {
    padding: 8px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
}

.sisu {
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

